* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.container {
    background-color: #00cccc;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container section {
    width: 700px;
    margin: 5px;
    box-shadow: 0 5px 10px #3334;
}

.container section details summary {
    background-color: #008b8b;
    color: #fff;
    border: 1px solid #444;
    position: relative;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.container section details p{
    font-size: 15px;
    padding: 10px;
    color: #444;
    background-color: #e6ffff;
}
.container section details summary::after{
    content: '+';
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.container section details[open] summary::after{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}
.container section details[open] summary{
    background-color: #996666;
}