*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: monospace;
}
.accordion-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: #f0f0f0;
}
.accordion{
    width: 700px;
}
.header{
    width: 100%;
    background-color: #ffbc76;
    color: #fff;
    margin: 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.header span{
    display: inline-block;
    width: 60px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    background-color: #f0932b;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: center;
}
.header h3{
    font-size: 20px;
    display: inline;
}
.accordion .body{
    padding: 15px;
    background-color: #fff;
    color: #666;
    box-shadow:  0 2px 5px rgba(0,0,0,0.3);
    display: none;
}
.accordion:nth-child(1).accordion .body{
    display: block;
}

/**** responsive design **/
@media (max-width:768px){
    .accordion{
        width: 90%;
    }
}